@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));


/* this is default eye icon remove */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}
input[type="password"]::-webkit-credentials-auto-fill-button {
  display: none !important;
  visibility: hidden;
  pointer-events: none;
}

/* global css in total body */
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #f8fafc;
  color: #0f172a;
}

html[data-theme="dark"],
html[data-theme="dark"] body {
  background-color: #0f172a;
  color: #f8fafc;
}



/* to remove on income page dropdown amount */
/* Remove arrows in Chrome, Safari */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove arrows in Firefox */
.no-spinner {
  -moz-appearance: textfield;
}
